body {
  background-color: #f5f1e9;
}

#logo-image {
  width: 390px;
  height: 74px;
  display: block;
  margin: 25px auto 10px auto;
}
.container {
  color: #272b2f;
  font-family: "Nunito", sans-serif;
  margin: 10px auto 10px auto;
  width: 582px;
  height: 510px;
}

#city-search {
  margin: 20px auto 20px auto;
  text-align: center;
  width: 560px;
}

.search-box {
  display: inline;
  width: 50%;
}

#search-button {
  --bs-btn-bg: #3c87c1;
  --bs-btn-border-color: #4c60d8;
  --bs-btn-hover-bg: #4c60d8;
  --bs-btn-hover-border-color: #4c60d8;
}

#current-location-btn {
  --bs-btn-color: #2c3674;
  --bs-btn-bg: #fec451;
  --bs-btn-border-color: #f0b41d;
  --bs-btn-hover-color: #2c3674;
  --bs-btn-hover-bg: #f9b103;
  --bs-btn-hover-border-color: #f9b103;
  --bs-btn-active-color: #2c3674;
  --bs-btn-active-bg: #cc9203;
  --bs-btn-active-border-color: #b58103;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.card {
  width: 560px;
  height: 440px;
  padding: 19px;
  background: linear-gradient(
    135deg,
    rgb(82, 229, 231) 10%,
    rgba(18, 12, 183, 0.828) 100%
  );
}

.card-body {
  padding: 0 16px 16px 16px;
}

#searched-city {
  font-size: 35px;
  font-weight: bold;
  overflow-wrap: normal;
}

#current-temp {
  font-size: 35px;
}

#current-temp-value {
  font-weight: 700;
}

#temp-unit {
  font-size: 15px;
  position: relative;
  top: -12px;
}

#todays-icon {
  width: 80%;
  height: 80%;
  object-fit: contain;
}

#secondary-info {
  font-size: 16px;
  align-content: space-between;
  list-style-type: none;
  padding: 0;
  line-height: 28px;
}

.active-temp-link {
  color: #272b2f;
  cursor: default;
}

.active-temp-link:hover {
  text-decoration: none;
}

#weather-forecast {
  display: flex;
  justify-content: center;
}

.weather-forecast-container {
  flex: 1;
  text-align: center;
  margin: 20px 10px;
  width: fit-content;
  font-size: 17px;
}

.date-info {
  word-wrap: normal;
  font-weight: 600;
}

.forecast-icon {
  width: 60px;
  height: 60px;
}

.highest-temp,
.lowest-temp {
  display: flex;
  text-align: center;
  display: block;
}
.highest-temp {
  font-weight: 600;
}

.lowest-temp {
  font-weight: 300;
  color: #ffffff;
}
.icon-container {
  display: flex;
  justify-content: center;
}

.github-icon-link {
  color: #193153;
}

footer {
  text-align: center;
  margin-top: 10px;
}
